@tailwind base;
@tailwind components;
@tailwind utilities;

.input_bar {
  @apply p-4 border text-sm  m-0 w-[80%] text-black  outline-none bg-white;
}

.button_cs {
  @apply w-[7rem] my-10 h-[3rem] font-semibold absolute text-white bottom-0 right-3 rounded-full bg-[#3c5164] active:scale-90 shadow-lg;
  transition: background-image 200ms ease-in-out;
}

.img_form {
  @apply w-[50%];
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.192);
}

.sub-ti {
  @apply text-[1rem];
}

/* .form_box {
  box-shadow: -10px -10px 50px 0 rgba(0, 0, 0, 0.171),  10px 10px 30px 0 rgba(0, 0, 0, 0.219);
} */

.pruple_gra {
  @apply bg-gradient-to-r from-[#331b7b] to-[#614ecf];
}

/* .foodBg {
  @apply bg-gradient-to-t from-[#D9534F] to-[#3498DB];
} */

.textRedGreen {
  @apply bg-gradient-to-r from-blue-500 via-pink-500 to-pink-500 text-transparent bg-clip-text text-4xl font-semibold;
}

.textBLueGreen {
  @apply bg-gradient-to-r from-blue-500 via-purple-500 to-orange-500 text-transparent bg-clip-text  font-semibold h-16 p-3;
}

@media screen and (max-width: 700px) {
  .form_box {
    @apply flex-col w-[25rem] h-[100%] m-0 self-center bg-[url(/public/form1img.jpg)] bg-no-repeat bg-cover bg-center;
  }
  .img_form {
    @apply w-full hidden;
  }
  .input_bar {
    @apply bg-white text-black w-full;
  }
  .inner_box {
    @apply w-full   backdrop-blur-sm bg-black bg-opacity-10  h-[34rem] p-10 mt-[10rem] ml-0;
  }

  .title {
    @apply text-gray-900 font-bold line-clamp-3 drop-shadow-lg;
  }
  .pro_img {
    @apply right-9 top-1 scale-75;
  }
}

@media screen and (min-width: 700px) and (max-width: 1199px) {
  .pro_img {
    @apply right-9 top-1 scale-75;
  }
}
